* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', Arial, sans-serif;
  font-size: 62.5%;
 
}

:root {
  --color1: #1D0B1E;
  --color2: #9BB0E7;
  --color3 : #2C375B;
  --color4: #161C31
}

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADER */


header {
  background-color: var(--color1);
  width: 100%;
  height: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px ;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
  flex-grow: 0;
}

header > img {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 5px;
  width: 50px;
  height: 50px;
}

header > img:hover {
  background-color: rgb(202, 195, 195);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
}

header > div > p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.678);
}

header > .logo {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 40px;
}

/* HEADER */


/* MAIN */

main {
  background-color: var(--color2) ;
  width: 80%;
  padding: 0px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);

}

main > h1 {
  font-size: 3rem;
  text-align: center;
 
}

.contentProducts{
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.card {
  margin: 4px 20px;
  width: 220px;
  height: 240px;
  border-radius: 10px;
  background-color: var(--color3);
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
}

.card > .cardVisual {
  padding: 0px 5px 5px 5px;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
}

.title {
  background-color: var(--color4);
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card > .title > h2 {
  text-align: center;
  font-size: 1.7rem;
}

.card > div > img {
  width: 156px;
  border-radius: 2px;
}

.card > div > button {
  background-color: #000000;
  font-size: 1.3rem;
  color: #fff;
  width: 90%;
  height: 25px;
  border-radius: 14px;
  border: 0;
}

.card > div > button:hover{
  background-color: #272727;
}

/* MAIN */

/* FOOTER */
footer {
  width: 100%;
  height: 26px;
  background-color: var(--color1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  flex-grow: 0;
}

footer > p {
  margin: 0 20px;
}
/* FOOTER */