html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.backCarrinhoON{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;

    
}

.backCarrinhoOFF{
    opacity: 0;
    z-index: -40;
}

.carrinhoON {
    position: absolute;
    max-width: 640px;
    min-width: 320px;
    height: 600px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.carrinhoOFF {
    opacity: 0;
    z-index: -30;
}


.titleCarrinho {
    margin: 5px 15px;
    width: 100%;
    height: 40px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.titleCarrinho > img {
    margin: 5px 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.titleCarrinho > img:hover {
    background-color: rgb(240, 128, 128);
}

#productsCarrinho {
    margin: 15px;
    width: 90%;
    height: 70%;
 
}

.productCarrinho {
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.2rem;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

.quantidade {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.quantidade > button {
    color: white;
    margin: 5px;
    font-size: 2.2rem;
    width: 25px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    border: 0 ;
}

.quantidade > button:hover {
    color: rgb(184, 182, 182);
}


#total {
    width: 100%;
    height: 110px;
    background-color: var(--color2);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0px 0px 5px 5px ;
    flex-grow: 1;
}

#price {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#price > button {
    width: 120px;
    height: 30px;
    border-radius: 13px;
    border: 0;
    outline: 0;
    background-color: var(--color3);
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}

#price > button:hover {
    background-color: #212944;
}

#pagamento {
    font-size: 2.3rem;
    margin: 5px;
}

#pagamento > label {
    margin-right: 5px;
}

#pagamento > select {
    width: 90px;
    height: 20px;
    background-color: var(--color3);
    color: white;
    border-radius: 5px;
    outline: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
}
